body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Polaris-right-content .Polaris-TextStyle--variationSubdued{
  display: flex;
  align-items: center;
}
.Polaris-right-content .Polaris-TextStyle--variationSubdued > div {
  margin-left: 10px;
}
.Polaris-Modal-Dialog .Polaris-Label{
  margin-top: 10px;
}
.modalConfig .Polaris-Modal-Section{
  padding: 0 !important;
}